<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>

<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

	<title th:text="#{__${#httpServletRequest.servletPath}__.title}"></title>

<meta name="description" content="Project stub for Spring Boot in Google App Engine" />

<link rel="icon" href="https://www.karilaalo.fi/assets/favicon.ico" />
<link rel="apple-touch-icon" href="https://www.karilaalo.fi/assets/touch-icon.png" />
<link rel="stylesheet" href="//code.cdn.mozilla.net/fonts/fira.css" />
<link rel="stylesheet" href="https://www.karilaalo.fi/assets/core.css" />
<link rel="canonical" href="https://www.karilaalo.fi/" />
<link rel="alternate" type="application/atom+xml" title="Kari Laalo" href="https://www.karilaalo.fi/feed.xml" />

    </head>
    <body>

<aside class="logo" style="position: relative;"> <a href="https://www.karilaalo.fi/"> <img src="//www.gravatar.com/avatar/5e91ce99cfb566f1ec553177edd55033.png?s=80" class="gravatar" alt="profile image" /> </a> <span class="logo-prompt">karilaalo.fi</span></aside>
<main>
<section>
   	<div class="col-md-12">
			<h1 >Hello, world</h1>

			<div class="col-md-6">
				<p>Hi there!</p>
			</div>
    </div>
</section>
</main>


    </body>
</html>
