<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <!-- START : Should not be necessary with SpringBootServletInitializer -->
    <!-- Spring MVC Servlet -->
    <servlet>
        <servlet-name>appengine-spring-boot</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextClass</param-name>
            <param-value>org.springframework.web.context.support.AnnotationConfigWebApplicationContext</param-value>
        </init-param>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>fi.karilaalo.SpringBootGaeApplication</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <!-- Let Spring MVC handle every URL -->
    <servlet-mapping>
        <servlet-name>appengine-spring-boot</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    <!-- END : Should not be necessary with SpringBootServletInitializer -->

	<security-constraint>
		<web-resource-collection>
            <web-resource-name>all</web-resource-name>
            <url-pattern>/*</url-pattern>
        </web-resource-collection>
        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
	</security-constraint>
<!--
 	<security-constraint>
		<web-resource-collection>
            <web-resource-name>admin</web-resource-name>
            <url-pattern>/my/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>admin</role-name>
        </auth-constraint>
        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
	</security-constraint>
 -->
 </web-app>